//hello added
/*
  Global 
 */
// $site_max_width: 960px;
// $font_color: #333;
// $link_color: #999;
// $font_family: Arial, sans-serif;
// $font_size: 30px;
// $line_height: percentage(20px / $font_size);
@import url("https://fonts.googleapis.com/css?family=Lobster|Oxygen|Josefin+Sans&display=swap");
$font-maintitle: "Lobster", cursive;
$font-body: "Oxygen", sans-serif;
$font-navbar: "Josefin Sans", sans-serif;
$mini-title-color: rgb(28, 74, 143);
$primary: #2e2b2b;
$bg-primary: rgb(217, 229, 255);

body {
  font-family: $font-body;
}

.content-section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.content-section-heading {
  h2 {
    font-size: 3rem;
    font-weight: 800;
    margin-top: 0%;
    margin-bottom: 1rem;
    color: $primary;
  }
  h3 {
    font-size: 2rem;
    font-weight: 600;
    color: $mini-title-color;
  }
}
.mt-5 {
  margin-top: 5rem !important;
}

.mb-5 {
  margin-top: 5rem !important;
}

.bg-primary {
  background-color: $bg-primary !important;
}
/* 
  Side navigation bar 
*/
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: $primary;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  a {
    font-family: $font-navbar;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #999;
    display: block;
    transition: 0.3s;

    &:hover {
      color: #f1f1f1;
    }
  }
}

.openbtn {
  position: fixed;
  right: 15px;
  top: 15px;
  cursor: pointer;
  background-color: fade-out($primary, 0.5);
  color: white;
  padding: 10px 15px;
  z-index: 999;
  border-radius: 10px;

  &:hover {
    background-color: $primary;
    color: white;
  }
}

#main {
  transition: margin-left 0.5s;
  // padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;

    a {
      font-size: 18px;
    }
  }
}

/* 
  Main header 
*/
.font-white {
  color: #d8d8d8;
  text-shadow: 3px 3px #000000;
}
.mainhead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 20%;
  padding-bottom: 8rem;
  background: linear-gradient(
      90deg,
      fade-out(white, 0.9) 0%,
      fade-out(white, 0.9) 100%
    ),
    url("../imgs/main.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    font-family: $font-maintitle;
    font-size: 4rem;
    margin: 0;
    padding: 0;
  }
  @media (min-width: 992px) {
    height: 100vh;
    h1 {
      font-size: 5.5rem;
    }
  }
}

/*
  Portfolio section
*/
.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 540px;
  margin: auto auto 1rem;
  .img-fluid {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
  }
  .caption {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: fade-out(#343a40, 0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    .caption-content {
      color: white;
      margin: auto 2rem 2rem;
      h2 {
        font-size: 2.5rem;
        font-weight: 600;
      }
      p {
        font-weight: 300;
        font-size: 1.5rem;
      }
    }
  }
  @media (min-width: 992px) {
    max-width: none;
    margin: 0;
    .caption {
      -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 1s;
      -webkit-clip-path: inset(0px);
      clip-path: inset(0px);
      .caption-content {
        transition: opacity 0.25s;
        margin-left: 5rem;
        margin-right: 5rem;
        margin-bottom: 5rem;
      }
    }
    img {
      -webkit-transition: -webkit-clip-path 0.25s ease-out;
      -webkit-clip-path: inset(-1px);
      clip-path: inset(-1px);
    }
    &:hover {
      img {
        -webkit-clip-path: inset(2rem);
        clip-path: inset(2rem);
      }
      .caption {
        background-color: fade-out($primary, 0.1);
        -webkit-clip-path: inset(2rem);
        clip-path: inset(2rem);
      }
    }
  }
}
/*
  Profile section
*/
.profile-img {
  width: 200px;
  height: 200px;
  margin-bottom: 3rem;
}
.profile-contact {
  color: $primary;
}
.profile {
  background-color: #f7f6ff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 3rem 2rem 3rem 2rem;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  @media screen and (min-width: 769px) {
    width: 30% !important;
    margin: 1.65%;
  }
  h4 {
    padding-bottom: 2rem;
    color: rgb(112, 101, 207);
    font-weight: 600;
  }
  h5,
  p {
    color: $primary;
    text-align: left;
    // font-weight: 700;
  }
  .tag {
    background-color: rgb(143, 165, 226);
    color: #111;
    display: inline-block;
    padding-top: 2px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 2rem;
    border-radius: 20px;
  }
  hr {
    border-color: $primary;
    border-style: dotted;
  }
}

/*
footer
*/
footer.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  .contact-link {
    display: block;
    height: 5rem;
    width: 5rem;
    line-height: 5.3rem;
    font-size: 2.5rem;
    background-color: $mini-title-color;
    transition: background-color 0.15s ease-in-out;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 50% !important;
    margin: 0 1rem 4rem 1rem;
    &:hover {
      background-color: darken($mini-title-color, 10%);
      text-decoration: none;
    }
    i {
      color: #f1f1f1;
    }
  }
  small {
    color: grey;
  }
  .scroll-top {
    font-size: 3rem;
    text-align: center;
    color: rgb(65, 64, 64);
    + .tooltip > .tooltip-inner {
      background-color: rgb(65, 64, 64);
    }
  }
}
